home_server:
  hosts:
    home:
      ansible_host: ${ test_home_server_ip }
      ansible_port: 22
  vars:
    ansible_user: coco
    ansible_password: coco
    ansible_host_key_checking: no
    dyndns_server: "dynv6.com"
    dyndns_domain: "{{ lookup('ansible.builtin.env', DYNDNS_HOMESERVERTEST_DOMAIN', default='') }}"
    dyndns_token: "{{ lookup('ansible.builtin.env', 'DYNDNS_HOMESERVERTEST_TOKEN', default='') }}"
